@use '../base/variables' as *;
@use '../base/mixins' as *;

// Botón genérico reutilizable
.boton {
  margin-top: 15px;
}

button,
.boton,
.boton-persona,
.boton-registrarse button {
  @include button-style($bg-color: $color-black, $text-color: $color-white);
  font-size: 1rem;
}

// Botones específicos

// Botón de formulario contacto
.boton-contacto {
  display: flex;
  justify-content: center;
}

// Botón persona (login/registro)
.boton-persona {
  text-decoration-line: none;
  border-radius: $border-radius-md;
}

// Botón en sección registrar
.boton-registrarse {
  text-align: center;
  margin-top: 30px;
}

// Mueve el estilo de button fuera de la regla .boton-registrarse
.boton-registrarse button {
  font-size: 1em;
  padding: 10px 25px;
  border-radius: 4px;
}
